<div class="newsblock">

  <div class="intro">
    <h5><%= newsletter.title %></h5>
    <p><%= newsletter.excerpt.html_safe %></p>
  </div>

  <ul class="list-unstyled list-news list-newsdefault">
    <% newsletter.news.each do |news| %>
      <%= render news %>
    <% end %>
  </ul>
  
</div>