    <!-- Content block -->
    <section class="block-news">
      <div class="container">

        <div class="dateselect">
          <p class="title">NEWS SELECTION FOR</p>
          <ul class="list-inline list-calselect">
            <li><a href="#" class="btn-calprev"><i class="icon-arrow"></i></a></li>
            <li class="currentdate"><a href="#" class="btn-pickdate"><%= l @news_date, format: :long %><i class="icon-calendar"></i></a></li>
            <li><a href="#" class="btn-calnext"><i class="icon-arrow"></i></a></li>
          </ul>
        </div>      
        <!-- News Slider -->
        <div class="newslider">
        <% if !@newsletters.empty? %>
          <% content_for :title, @newsletters.first.title+' - '+l(@newsletters.first.sent_at, format: :short) %>         
          <% content_for :meta_description, @newsletters.first.excerpt  %>
          <% @newsletters.each do |newsletter| %>
            <%= render newsletter %>
          <% end %>
        <% else %>
          <p class="lead text-center">No articles yet.</p>
        <% end %>
        </div> <!-- End News Slider -->
        </div>
        <!-- More Days -->
        <div class="text-center">
          <a href="#" class="btn btn-prevdays">Previous Days</a>
        </div>

      </div>
    </section> <!-- End Content block -->